<mat-toolbar fxLayoutGap="8px">
  <button mat-icon-button><mat-icon>menu</mat-icon></button>
  <a mat-button routerLink="/home">
    <mat-icon svgIcon="lemmon"></mat-icon>
    <span class="mat-h2">Lemonmart</span>
  </a>
  <span class="flex-spacer"></span>
  <button mat-mini-fab matTooltip="Profile" aria-lablel="User Profile" routerLink="/user/profile"><mat-icon>account_circle</mat-icon></button>
  <button mat-mini-fab matTooltip="Logout" aria-lablel="User Profile" routerLink="/user/logout"><mat-icon>lock_open</mat-icon></button>
</mat-toolbar>
<router-outlet></router-outlet>
